{{ define "main" }}

<main>
	<section class=" pt-5 pb-50">
		<div class="container">
			<div class="row">	
				<div class="mb-5"><h1>{{.Title}}</h1></div>
      </div>
			<div class="row">	
				<div class="col-lg-8">				
					<div><h5 class="meta">{{ .Description }}</h5></div>	
					<div class="mt-5">
						{{ .Content }}	
					</div>	
				</div> 
				<div class="col-lg-4">
					<div class="card card-light">
					  <div class="card-body">
						  <h5>Key Challenges</h5>
     	      	{{ .Params.challenges }}	              
					  </div>
					</div>	
					<div class="card card-green">
					  <div class="card-body">
						  <h5>The Result:</h5>
     	      	{{ .Params.result }}	             
					  </div>
					</div>	          
				</div>				
			</div>
		</div>		
	</section>	
	<section class=" pt-5 pb-50">
		<div class="container-fluid">
    		{{ .Params.quote }}	
 		</div>		
	</section>	   
 	<section class=" pt-5 pb-50">
		<div class="container">
 			<div class="row">	
				<div class="col-lg-6">	   
    		{{ .Params.activities }}	
        </div>			
				<div class="col-lg-6">	   
    		{{ .Params.achievements }}	
        </div>	        
      </div>      
 		</div>		
	</section>	     
	{{ $myAsset := .Params.resource }}
	{{ range where $.Site.Data.resources.assets "name" $myAsset  }}
	   {{ partial "blockAsset.html" . }}
	{{ end }}

	{{ if eq .Params.show_contact true }}  
	{{ partial "blockContact.html" . }}
	{{ end }}	
	
  </main>

{{ if eq .Params.show_contact true }}  
	{{ partial "floatingContactButton.html" . }}
{{ end }} 
{{ end }}
