{{ define "main" }}			  
	<section id="asset-block" class="pt-5 pb-50">		
	  <div class="container">
		{{ if eq .Params.banner_type "none" }}
			<div class="row">	
				<div class="mb-4 mx-auto px-3"><h1 class="">{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</h1></div>
			</div>
		{{ end }}
		<div class="row">
			<article class="col-lg-6">	
				{{ .Content }}	
			<div class="mt-4">			
				<p class="pt-2 pb-1 mb-0">Don't forget to share!</p>
				  <div class="social">
					<a class="icon-li" href='https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{.Title }}' target="_blank">li</a>								
					<a class="icon-tw" href='http://twitter.com/share?text={{.Title }}&url={{ .Permalink }}' target="_blank">tw</a>	
					<a class="icon-fb" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank">fb</a>						
				  </div>				
			</div>				
			</article>	
			<div class="offset-lg-1 col-lg-5 text-center ">			
				<div class="bg-blue mt-4 pt-4 pb-5 mt-lg-1">
					<p class="h5 pb-3 pt-1">Download our free {{.Params.content_type}}!</p>
		{{ if eq .Params.banner_type "none" }}
			{{ .formAsset }}		
		{{ else }}					
					<a href="{{ .Params.asset_link }}"><img src="{{ if .Params.cta_image }}{{ .Params.cta_image }}{{ else }}{{ .Params.thumbnail }}{{ end }}" alt="{{ .Title }}"></a>
					<a class="btn btn-split green-btn" href="{{ .Params.asset_link }}" style="width: 75%;">Download now</a>
		{{ end }}
				</div>
			</div>
	
				
		</div>	
	  </div>
	</section>	  
	  

  
  {{ $related := .Site.RegularPages.Related . | first 3 }}
	{{ with $related }}
	    <section class="pb-50 pt-75 block-light">
		    <div class="container">
         <div class="row justify-content-center text-center pb-5">  
	        <h3>Related Assets</h2>
         </div>          
         <div class="row justify-content-center">
						{{ range . }}
              <div class="col-sm-6 col-lg-4 mb-5">	
                <div class="card card-resource">
                   <div class="card-header bg-light text-center p-0">		
                     <div class="tag {{ .Params.content_type | urlize }}">{{ .Params.content_type | default "Article" }}</div>
                     <a href="{{if eq .Params.gated true }}{{ .RelPermalink }}{{ else if eq .Type "resource" }}{{ .Params.asset_link }}{{ else }}{{ .RelPermalink }}{{ end }}"><img src="{{ if (isset .Params "thumbnail" ) }}{{ .Params.thumbnail }}{{ else }}{{ .Params.image }}{{ end }}" alt="{{ .Title }}"></a>
                  </div>   
                  <div class="card-body bg-mid d-flex align-items-start flex-column mt-auto pt-3 pb-5 px-4">
                    <h6 class="card-text">{{if .Params.card_title }}{{ .Params.card_title }}{{ else }}{{ .Title }}{{ end }} <span>{{ .Params.card_subtitle }}</span></h6>
                    <a href='{{if eq .Params.gated true }}{{ .RelPermalink }}{{ else if eq .Type "resource" }}{{ .Params.asset_link }}{{ else }}{{ .RelPermalink }}{{ end }}' class="btn btn-split mt-auto green-btn py-2 px-4">{{ .Params.cta | default "Read more" }}</a>
                  </div>     
                </div>
              </div>
						{{ end }}
		</div>
		</div>
	</section>          
  {{ end }}	 
{{ end }}
