{{ define "main" }}

{{ partial "jumbotron" . }} 

<article>
    <div class="container">
        <header>
            <h2 class="title xs-show">{{.Title}}</h2>		
            <div class="meta">{{ .Date.Format "2 January 2006" }} | {{ partial "tags" . }} </div>			
        </header>

        <section>
      {{ .Content }}
        </section>
      
        <footer>
            <p class="author">
                <a rel="author" href="/about" title="Alan Chatfield"><img src="//www.gravatar.com/avatar/60fa755d6b89ee9f9d59d0f957711f40?s&#x3D;250&amp;d&#x3D;mm&amp;r&#x3D;x"></a>
                Written by <strong><a rel="author" href="/author/alan" title="Alan Chatfield">Alan Chatfield</a></strong><br>
                <span class="muted">Senior Digital Marketing Strategist at <a href="//www.crmtechnologies.com">CRMT</a> and Marketo Certified Solutions Architect. Advisor on marketing effectiveness and marketing technology optimisation.</span>
            </p>
        </footer>
      {{ partial "pager" . }}
      
    </div>
</article>      
{{ end }}
