/* RESET */.elq-form * {  margin: 0;  padding: 0;}.elq-form input,textarea {	-webkit-box-sizing:content-box;	-moz-box-sizing:content-box;	box-sizing:content-box;}.elq-form input[type=text],.elq-form textarea,.elq-form select[multiple=multiple] {	border: 1px solid #A6A6A6;} .elq-form button,input[type=reset],input[type=button],input[type=submit],input[type=checkbox],input[type=radio],select {	-webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;}/* GENERIC */.elq-form input {	height: 16px;	line-height: 16px;}.elq-form .item-padding {	padding:6px 5px 9px 9px;}.elq-form .pp-group {	padding:0px 5px 0px 9px;}.elq-form .pp-field {	padding:6px 0px 9px 0px;}.elq-form .field-wrapper.individual {    float: left;    width: 100%;	clear: both;}.elq-form .field-p {	position: relative;	margin: 0;	padding: 0;}.elq-form .zIndex-fix {	position: absolute;	z-index: 1;	top: 0;	left: 0;	right: 0;	bottom: 0;}.elq-form .field-design {	position:absolute;	z-index:2;	top:0;	left:0;	right:0;	bottom:0;	margin:0;	padding:0;}.elq-form .no-fields-prompt {	float: left;	width: 100%;	height: 150px;	padding-top: 50px;	clear: both;}/* SECTION BREAKS */.elq-form .section-break {	float:left;	width: 97%;	margin-right:2%;	margin-left:1%;	padding-bottom:6px;}.elq-form .section-break .heading {	width:100%;	font-weight: bold;	margin:0;	padding:0;}/* LABEL */.elq-form .required {	color: red !important;	display: inline;	float: none;	font-weight: bold;	margin: 0pt 0pt 0pt;	padding: 0pt 0pt 0pt;}/* FIELD GROUP */.elq-form .field-group {	float: left;	clear: both;}.elq-form .field-group.large {	width:100%;}.elq-form .field-group.medium {	width:51%;}.elq-form .field-group.small {	width:31%;}.elq-form .field-group .label {	float:left;	width:97%;	margin-right:2%;	margin-left:1%;	padding-bottom:6px;	font-weight: bold;}.elq-form .field-group .field-style {	float: left;}.elq-form .progressive-profile .pp-inner {	float: left;	clear: both;}.elq-form .progressive-profile .pp-inner.large {	width:100%;}.elq-form .progressive-profile .pp-inner.medium {	width:51%;}.elq-form .progressive-profile .pp-inner.small {	width:31%;}/* RADIO */.elq-form .radio-option {	display: inline-block;}.elq-form .radio-option .label {	display:block;	float:left;	padding-right:10px;	padding-left:22px;	text-indent:-22px;}.elq-form .radio-option .input {	vertical-align:middle;	margin-right:7px;}.elq-form .radio-option .inner {	vertical-align:middle;}/* CHECKBOX */.elq-form .checkbox-span {	display:inline-block;}.elq-form .checkbox-label {  padding-left:7px;  position: relative;  bottom:3px;}/* INPUT */.elq-form .accept-default {	width:100%;}/* SIZING */.elq-form .field-style {	margin-right:2%;	margin-left:2%;}.elq-form .field-style._25 {	width:21%;}.elq-form .field-style._50 {	width:46%;}.elq-form .field-style._50_left {	clear:left;	width:46%;}.elq-form .field-style._75 {	width:71%;}.elq-form .field-style._100 {	width:96%;}.elq-form .field-size-top-small {	width:30%;}.elq-form .field-size-top-medium {	width:75%;}.elq-form .field-size-top-large {	width:100%;}.elq-form .field-size-left-small {	width:21%;}.elq-form .field-size-left-medium {	width:46%;}.elq-form .field-size-left-large {	width:60%;}/* INSTRUCTIONS */.elq-form .instructions.default {	color:#444444;	display:block;	font-size:10px;	padding:6px 0pt 3px;}.elq-form .instructions.group {	float:left;	width:97%;	margin-right:2%;	margin-left:2%;	padding:6px 0pt 3px;	color:#444444;	display:block;	font-size:10px;}.elq-form .instructions.left-single {	margin:0 0 0 33%;}.elq-form .instructions-other {   margin:0;}/* POSITIONING */.elq-form .label-position.left {	display:block;    line-height:150%;    padding:1px 0pt 3px;    float:left;    width:31%;    margin:0pt 15px 0pt 0pt;    word-wrap:break-word;    overflow-wrap: break-word;}.elq-form .label-position.top {	display:block;    line-height:150%;    padding:1px 0pt 3px;    white-space:normal;}.elq-form .label-position.alignment-left {	text-align: left;}.elq-form .label-position.alignment-right {	text-align: right;}/* LIST ORDER */.elq-form .list-order {	display:block;}.elq-form .list-order.oneColumn {	margin:0pt 7px 0pt 0pt;	width:100%;	clear:both;}.elq-form .list-order.twoColumn {	float:left;	margin:0pt 7px 0pt 0pt;	width:38%;}.elq-form .list-order.threeColumn {	float:left;	margin:0pt 7px 0pt 0pt;	width:30%;}.elq-form .list-order.oneColumnLeft {	float:left;	margin:0pt 7px 0pt 0pt;	width:100%;}.elq-form .list-order.twoColumnLeft {	float:left;	margin:0pt 7px 0pt 0pt;	width:38%;}.elq-form .list-order.threeColumnLeft {	float:left;	margin:0pt 7px 0pt 0pt;	width:30%;}/* GRID STYLE */.elq-form .grid-style {      display:inline;      float:left;      margin-left:2%;      margin-right:2%;}.elq-form .grid-style._25 {      width:21%;}.elq-form .grid-style._50 {      width:46%;}.elq-form .grid-style._75 {      width:71%;}.elq-form .grid-style._100 {      width:96%;  }

.form { display: flex}	
.form .elq-form h3 {
	margin: 0;
	color: #ffffff;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: normal;
    line-height: 1em;
}
.form .elq-form .form-design-field label {
	font-size: 15px;
	color: #ffffff;	
    display: none;
	line-height: 1.2em;
}
.form .elq-form form {
	background-color: #284b81;
}
.form .elq-form .form-design-field input {
	border: 0;
	padding: 8.5px 10px;
	width: 100%;
	box-sizing: border-box;
    height: auto;
    line-height: 20px;
}
.form .elq-form .form-design-field select {
	width: 100%;
    line-height: 35px;
    height: 35px;
    padding: 0 5px;
    color: #002c2f;
    font-weight: normal;
    font-size: 12px;
    -webkit-appearance: menulist-button;
}
.form .elq-form .actions {
	margin: 0 31px;
}
.form .elq-form .submit input {
	background-color: #ffc20e;
	color: #ffffff;
	font-weight: normal;
	font-size: 22px;
	padding: 7px 5%;
	text-decoration: none;
	border: 0;
	margin-bottom: 15px;
	margin-top: 11px;
	width: 100%;
	cursor: auto;
	border-radius: 3px;
}
.form .elq-form .form-design-field label.checkbox-label {
  display: inline-block;
} 
.form .elq-form .form-design-field .checkbox-span input {
    width: auto; 
}  
.form .elq-form .form-design-field {
    padding: 0 !important;
    
}  
.form .elq-form .item-padding p.field-p {
    padding: 4.5px 22px;
    height: 55px;
    box-sizing: content-box;
}
  .form .elq-form #formElement10.item-padding p.field-p {
    height: 33px;
    top: -8px; 
  }     
.elq-form .LV_invalid {
    font-weight: normal;
    margin: 3px 0px 0px 5px;
    font-size: 11px;
    display: block;
    margin-top: -25px;
    line-height: 25px;
}
body .body-container .main-group .form {
    background: #284b81;
}
  .form .elq-form input[type="submit"] {
    -webkit-appearance: none;     
    background-color: #a2bd18;
    color: #ffffff;
    font-weight: normal;
    font-size: 22px!important;
    text-decoration: none;
    margin-bottom: 15px;
    margin-top: 11px;
    width: 84%!important;
    cursor: pointer;
    border-radius: 3px;
    height: 50px!important;
    margin: 0px 8%!important;
}
   .form .elq-form .form-design-field:last-of-type p.field-p { margin-bottom: 10px; }
        
 .form .elq-form .form-design-field label.instructions {
	font-size: 12px;
	color: #ffffff;	
    display: inline-block;
    top: -8px;
    position: relative;    
	text-align: left;
	width: 100%;
}  
.elq-form .checkbox-span {
    text-align: left;
}   
 @media (max-width: 400px) {      
   .form .elq-form .form-design-field label.checkbox-label {
      display: inline;
  }  
  .form .elq-form .item-padding p.field-p, #formElement10.item-padding p.field-p {
      padding: 4.5px 22px;
      height: auto;
  }    
 }     
 @media (max-width: 1200px) {      
  #formElement10.item-padding p.field-p {
    	height: 45px;
    	top: -8px;
	} 
 }  
 @media (max-width: 767px) {
  .form .elq-form .form-design-field label.checkbox-label {
      display: inline;
  }  
  .form .elq-form .item-padding p.field-p, #formElement10.item-padding p.field-p {
      padding: 4.5px 20px;
      height: auto;
  }
   .form .elq-form input[type="text"] { margin-bottom: 16px;  }
   .form .elq-form select { margin-bottom: 16px !important; }
   .elq-form .LV_invalid {
     margin: -13px 0px 0 5px;
  }      
}  
.modal-privacy p {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding: 10px 5px;
    line-height: 14px;
  }
  .modal-privacy a {
    color: #a1bd17;
  } 