.dropdown {
    position: static !important;
    margin: auto;
}

.dropdown-menu {
    width:100%;
}

.blueText {
    color: #009FE3;
}

.greenText {
    color: #a2bd1a
}

.megaLinkBlue {
    font-size: 1.2em;
    padding: 5px 10px;
}

.megaLinkBlue:focus, hover {
    color: white;
    text-decoration: none;
    background-color: #002D55; 
}

.megaLinkGreen {
    font-size: 1.2em;
    padding: 5px 10px;
}

.megaLinkGreen:focus, hover {
    color: white;
    text-decoration: none;
    background-color: #00851d 
}

.descText {
    font-size: 1em;
}

.img-fluid {
    max-width: 70%;
}

.caseTitle {
    padding: 0 0 5px 0;
}

.caseTitle:focus, hover {
    text-decoration: none;
    background-color: #002D55; 
