.dropdown {
    position: static !important;
    margin: auto;
}

.dropdown-menu {
    width:100%;
    background-color: darkslategrey;
}

.blueText {
    color: #009FE3;
}

.greenText {
    color: #a2bd1a
}

.megaLinkBlue {
    font-size: 1em;
    padding: 8px 10px; 
}

.megaLinkBlue:hover {
    
    text-decoration: none;
    background-color: #002D55; 
}

/* .megaLinkGreen {
    font-size: 1em;
    padding: 8px 10px;
}

.megaLinkGreen:hover {
    text-decoration: none;
    background-color: #006315 
}  */

.descText {
    font-size: 0.8em;
} 

.img-fluid {
    max-width: 70%;
    padding-bottom: 5px;
}

.caseTitle {
    padding: 0 0 5px 0;
}

.caseTitle:hover {
    text-decoration: none;
    background-color: #006315; 
}