.dropdown {
    position: static !important;
    margin: auto;
}

.dropdown-menu {
    width: 100%;
    padding: 20px 0;
}  

.blueText {
    color: #009FE3;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.greenText {
    color: #a2bd1a;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.navLinkStyle {
    padding-bottom: 7px;
    font-size: 1.2em;
}

.megaLinkBlue {
    width: fit-content;
} 

.megaLinkBlue:hover {
    color: white;
    text-decoration: none;
    background-color: #002D55;
    border-radius: 20px;
}

/* .megaLinkGreen {
    font-size: 1em;
    padding: 8px 10px;
}

.megaLinkGreen:hover {
    text-decoration: none;
    background-color: #006315 
}  */

.descText {
    font-size: 1em;
    margin-bottom: 12px;
} 

.borderLeft {
    border-left: 1px solid gray;
}

.caseImg {
    max-width: 70%;
    padding-bottom: 5px;
}

.caseTitle {
    padding: 5px 15px;
    margin-bottom: 5px;
    width: fit-content;
}

.caseTitle:hover {
    color: white;
    text-decoration: none;
    background-color: #006315; 
    border-radius: 20px;
}

/* Products */
.imgLogo {
    height: 30px;
}