{{ define "main" }}

{{ partial "jumbotron.html" . }} 

<main>
	<section class=" pt-5 pb-50">
		<div class="container">
			<div class="row">	
				<article class="col-sm-8">	
					<header class="clearfix">
						<h2 class="col-xs-12">{{.Title}}</h2>		
						<div class="meta col-sm-4 pull-left">{{ .Date.Format "January 02, 2006" }}</div>	
						<div class="meta col-sm-4 pull-left">By {{ .Params.author | default "CRM Technologies" }}</div>		
						<div class="social col-sm-4 pull-right">
							<a class="icon-li" href='https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{.Title }}' target="_blank">li</a>								
							<a class="icon-tw" href='http://twitter.com/share?text={{.Title }}&url={{ .Permalink }}' target="_blank">tw</a>	
							<a class="icon-fb" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank">fb</a>			
						</div>					
					</header>
					<div class=" mt-4">
						{{ .Content }}	
					</div>	
				</article> 
				<div class="col-sm-1 d-none d-sm-block"></div>
				<div class="col-sm-3">
					{{ partial "pager" . }}		
				</div>
			</div>
		</div>		
	</section>		
	{{ $myAsset := .Params.resource }}
	{{ range where $.Site.Data.resources.assets "name" $myAsset  }}
	   {{ partial "blockAsset.html" . }}
	{{ end }}

	{{ if eq .Params.show_contact true }}  
	{{ partial "blockContact.html" . }}
	{{ end }}	
	
  </main>

{{ if eq .Params.show_contact true }}  
	{{ partial "floatingContactButton.html" . }}
{{ end }} 
{{ end }}
