<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body {{ if eq .Params.banner_type "none" }}class="no-banner"{{ end }}>
    {{ partial "nav" . }}
	{{ if eq .Params.banner_type "highlight" }}{{ partial "bannerHighlight.html" . }}
	{{ else if eq .Params.banner_type "plain" }}{{ partial "bannerPlain.html" . }}	
	{{ else if eq .Params.banner_type "home" }}{{ partial "bannerHomeCarousel" . }}		
	{{ else if eq .Params.banner_type "none" }}
	{{ else }}{{ partial "bannerHighlight.html" . }}{{ end }}
	<main> 	
    {{ block "main" . }}{{ end }}
	</main>
	{{ if ne .Params.show_contact "none" }}{{ partial "floatingContactButton.html" . }}{{ end }} 
    {{ partial "footer" . }} 
  </body>
</html>
