<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body class="eupopup eupopup-bottom{{ if eq .Params.banner_type "none" }} no-banner{{ end }}">
    {{ partial "nav" . }}
	{{ if eq .Params.banner_type "highlight" }}{{ partial "bannerHighlight.html" . }}
	{{ else if eq .Params.banner_type "plain" }}{{ partial "bannerPlain.html" . }}	
	{{ else if eq .Params.banner_type "home" }}{{ partial "bannerHomeCarousel" . }}		
	{{ else if eq .Params.banner_type "none" }}
	{{ else }}{{ partial "bannerHighlight.html" . }}{{ end }}
	<main> 	
    {{ block "main" . }}{{ end }}
	{{ if .Params.testimonial }}{{ partial "blockQuote.html" . }}{{ end }}
	{{ if eq .Params.show_contact "banner" }}{{ partial "blockContact.html" . }}{{ end }}
	{{ if .Params.resource }}{{ partial "blockAsset.html" . }}{{ end }}
	{{ if eq .Params.show_contact "form" }}{{ partial "formContact.html" . }}{{ end }}		
	</main>
	{{ if ne .Params.show_contact "none" }}{{ partial "floatingContactButton.html" . }}{{ end }} 
    {{ partial "footer" . }} 
  </body>
</html>
