{{ define "main" }}

{{ partial "jumbotron.html" . }} 

<main>
	<section class=" pt-5 pb-50 mb-5">
		<div class="container">
			<div class="row">
                        {{ range (.Paginator 1).Pages.ByPublishDate.Reverse }}
                              {{ .Render "li"}}
                        {{ end }}
			</div>                        
			<div class="row">                        
                        {{ template "_internal/pagination.html" . }}
			</div>
		</div>		
	</section>		
 </main>

{{ if eq .Params.show_contact true }}  
	{{ partial "floatingContactButton.html" . }}
{{ end }} 
{{ end }}
