{{ define "main" }}

  <header>
	<div class="jumbotron" style="background-image: linear-gradient(rgba(55,26,190,0.4225),rgba(55,26,190,0.4225)),url('{{ with .Params.image }}{{ . }}{{ end }}')">
	  <div class="banner-content">
		<h3>{{.Params.heading}}</h3>
		<p>{{.Params.subheading}}</p>
	  </div>  	
	</div>  
  </header>  		

  <main>
	{{ .Content }}
	  
	{{ $myQuote := .Params.testimonial }}		
	{{ range where $.Site.Data.testimonials.quotes "name" $myQuote  }}
	   {{ partial "blockQuote.html" . }}
	{{ end }}		

	{{ if eq .Params.show_contact true }}  
	{{ partial "blockContact.html" . }}
	{{ end }}
	  
	{{ $myAsset := .Params.resource }}
	{{ range where $.Site.Data.resources.assets "name" $myAsset  }}
	   {{ partial "blockAsset.html" . }}
	{{ end }}		  
  </main> 
{{ end }}
