{{ define "main" }}

{{ if eq .Params.banner_type "highlight" }}{{ partial "banner.html" . }}{{ else }}{{ partial "jumbotron.html" . }}{{ end }} 		

  <main>
	{{ partial "navWhatWeDo.html" . }} 	  
	{{ .Content }}
	{{ partial "blockPartnerLogos.html" . }}	  
	{{ partial "blockQuote.html" . }}
	{{ if eq .Params.show_contact true }}{{ partial "blockContact.html" . }}{{ end }}	  
	{{ partial "blockAsset.html" . }}
  </main>

{{ if eq .Params.show_contact true }}{{ partial "floatingContactButton.html" . }}{{ end }} 
{{ end }}
