<div class="col-sm-6 col-lg-4 mb-5">
	<div class="card card-insight">
		<a href="{{ .RelPermalink }}" rel="prefetch"><img src="{{ with .Params.image }}{{ . }}{{ end }}" class="card-img-top"></img></a>
		<div class="card-body d-flex align-items-start flex-column px-0">	
			<h6>{{ .Title }}</h2>
			<p class="meta">{{ .Date.Format "January 02, 2006" }} |  {{ if .type "Posts" }}By <span class="text-green">{{ .Params.author | default "CRM Technologies" }}</span>{{ else }} <span class="text-green">{{ .Params.content_type | default "Article" }}</span>{{ end }}</p>
			<a href="{{ .RelPermalink }}" class="btn btn-split green-btn mt-auto" >Read more</a>
		</div>
	</div>
</div>
