{{ define "main" }}

{{ partial "jumbotron.html" . }} 

<main>	   
	<section class="pt-75 pb-50 mb-5">
		<div class="container">
			<div class="row">
 			  <div class="col mb-5 text-center">   
          <p><strong>CRMT work in partnership with global organisations at various stages of marketing maturity, enabling them to execute, strategise and transform their marketing activities. Our experts combine 15 years of experience at the forefront of marketing and sales technology with strategic consulting knowledge to help drive your organisation towards operations excellence. Here are a small number of our success stories.</strong></p>
 			  </div>
		  </div>    
			<div class="row">
                        {{ range (.Paginator 12).Pages.ByPublishDate.Reverse }}
                              {{ .Render "li"}}
                        {{ end }}
			</div>                        
			<div class="row justify-content-center">                        
                        {{ template "_internal/pagination.html" . }}
			</div>
		</div>		
	</section>	
	<section class="block-caret block-light clearfix pt-75 pb-50 " id="block-homepage-logos">
		<div class="container">		
			<h2 class="text-center">Other Customers</h2>
			<ul class="logo-carousel">
				{{ range $.Site.Data.logos.customers }}
				   {{ partial "customerLogo.html" . }}
				{{ end }}
			</ul>
		</div>
	</section>  
	{{ partial "blockContact.html" . }}	
 </main>

{{ if eq .Params.show_contact true }}  
	{{ partial "floatingContactButton.html" . }}
{{ end }} 
{{ end }}
