{{ define "main" }}

{{ partial "banner.html" . }} 		

  <main>
	{{ partial "navWhatWeDo.html" . }} 	  
	{{ .Content }}
	<section id="careers-block" class="pb-100">	
	  <div class="container">
	  	<div class="row">		  
		{{ range $.Site.Data.careers.job }}
			<div class="col-sm-6 px-5 py-5">
				<h5>{{ .role }}</h5>
				<p>{{ .teaser}}</p>
				<a href="{{ .spec }}" class="btn btn-split p indigo-btn mt-auto">Job Description</a>
				<a href="mailto:hr@crmtechnologies.com?subject={{ .role }} Role" class="btn btn-split p green-btn mt-auto">Apply Now</a>
		  	</div>	
		{{ end }}  
		</div>
	  </div>
	</section>	  	  
	{{ partial "blockQuote.html" . }}
	{{ if eq .Params.show_contact true }}{{ partial "formContact.html" . }}{{ end }}	  
	{{ partial "blockAsset.html" . }}
  </main>

{{ if eq .Params.show_contact true }}{{ partial "floatingContactButton.html" . }}{{ end }} 
{{ end }}
