            <p class="author">
                <a rel="author" href="/about" title="Alan Chatfield"><img src="https://secure.gravatar.com/avatar/60fa755d6b89ee9f9d59d0f957711f40"></a>
                Written by <strong><a rel="author" href="/about" title="Alan Chatfield">Alan Chatfield</a></strong><br>
                <span class="muted">Senior Digital Marketing Strategist at <a href="//www.crmtechnologies.com">CRMT</a> and Marketo Certified Solutions Architect. Advisor on marketing effectiveness and marketing technology optimisation.</span>
            </p>
