{{ $myEndColour := "16,46,47" }}
{{ if .Params.highlight_colour }}
	{{ $myColour := string .Params.highlight_colour }}{
	{{ $myStartColour := (replace $myColour ")" "") }}
	{{ $myEndColour := (replace $myStartColour "rgb(" "") }}	
{{ end }}
  <header>
	<div class="jumbotron" style="background-image: linear-gradient(rgba({{ $myEndColour }},0.5775),rgba({{ $myEndColour }},0.4225)),url('{{ with .Params.image }}{{ . }}{{else}}/img/banner-excellence-hub.jpg{{ end }}')">
	  <div class="banner-content">
		<h3>{{ .Params.heading | default .Title }}</h3>
		{{ if .Params.subheading }}<p>{{.Params.subheading}}</p>{{ end }}
	  </div>  	
	</div>  
  </header> 
