  <!-- Footer -->
  <footer class="pt-75">
	<section class="footer-container pb-50">
		<div class="container-fluid">	
			<div class="row">
				<div class="col-sm-6 col-md-3 col-lg-2 offset-xl-1">
					<ul class="menu">
						<li class="menu-item"><a href="/what-we-do/overview">What we do</a></li>
						<li class="menu-item"><a href="/what-we-do/campaign-services" >Integrated Demand Generation</a></li>
						<li class="menu-item"><a href="/what-we-do/consultancy">Consulting &amp; Best Practice</a></li>
						<li class="menu-item"><a href="/what-we-do/data-analytics">Data Management</a></li>
						<li class="menu-item"><a href="/what-we-do/technology-services">Technology Services</a></li>
						<li class="menu-item"><a href="/what-we-do/marketing-analytics-performance">Analytics &amp; Performance</a></li>
						<li class="menu-item"><a href="/what-we-do/assessments-audits">Assessments &amp; Audits</a></li>
						<li class="menu-item"><a href="/what-we-do/marketing-operations">Marketing Operations</a></li>
					</ul>
				</div>	
				<div class="col-sm-6 col-md-3 col-lg-2">
					<ul class="menu">
						<li class="menu-item"><a href="/how-we-work">How we work</a></li>
						<li class="menu-item"><a href="/who-we-work-with">Who we work with</a></li>
					</ul>
				</div>	
				<div class="col-sm-6 col-md-3 col-lg-2">
					<ul class="menu">
						<li class="menu-item"><a href="/who-we-are">Who we are</a></li>
						<li class="menu-item"><a href="/who-we-are/our-team">Our team</a></li>
						<li class="menu-item"><a href="/who-we-are/our-culture">Our culture</a></li>
						<li class="menu-item"><a href="/who-we-are/work-for-us">Work for us</a></li>						
					</ul>
				</div>	
				<div class="col-sm-6 col-md-3 col-lg-2">
					<ul class="menu">
						<li class="menu-item menu-item-main"><a href="/excellence-hub">Excellence Hub</a></li>
						<li class="menu-item menu-item-main"><a href="/insights">Insights</a></li>
						<li class="menu-item menu-item-main"><a href="/contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-lg-3">
					<h2 class="d-none d-lg-block"><span>Subscribe to Newsletter</span></h2>
					<div class="newsletter-signup d-none d-lg-block">
						<input  type="email" id="newsletter-email" name="email" value="" size="60" maxlength="254" placeholder="Type your email" class="form-email">
						<input class="form-submit" type="submit" id="newsletter-submit" name="op" value="Submit">
					</div>	
					<p class="social-block"><a class="social-link linkedin" href="https://www.linkedin.com/company/crm-technologies" rel="nofollow" target="_blank" title="Follow us">li</a> <a class="social-link twitter" href="https://twitter.com/crmtechnologies" rel="nofollow" target="_blank" title="Follow us">twi</a> <a class="social-link facebook" href="https://www.facebook.com/crmtechnologies" rel="nofollow" target="_blank" title="Follow us">fb</a></p>					
				</div>					
			</div>		
		</div>	
	</section>	
	<section class="footer-copyright">
		<div class="container ">
			<ul>
				<li><span>Copyright © 2020 CRM Technologies</span></li>		
				<li><a href="/content/terms-conditions" title="Legal stuff">Legal</a></li>
				<li><a href="/content/privacy-policy" title="Privacy policy">Privacy Policy</a></li>
			</ul>      
		</div>
	</section>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{{ if .Params.carousel }}<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>{{ end }}
<script src="/js/main.js"></script>
