<section id="form-contact-block" class=" block-caret block-dark-mid pb-50 pt-75">		
	<div class="container">	
      <div class="row">	
        <div class="col text-center">
          <h2 class="text-white">Get in Touch</h2>
          <p class="intro-text text-white">Let us know how we can help.</p>
        </div>
      </div>        
      <div class="row">	
        <div class="col-lg-6">
          <div class="row no-gutters">	
            <div class="col-md-6 pr-md-2">          
             <input type="text" name="firstname" placeholder="First Name" required>
            </div>
            <div class="col-md-6 pl-md-2">               
             <input type="text" name="lastname" placeholder="Last Name" required>  
            </div>
          </div>                
          <input type="text" name="company" placeholder="Company" required>             
          <input type="email" name="email" placeholder="Email" required>   
          <input type="checkbox" id="edit-subscribe-to-general-communications" name="subscribe_to_general_communications" value="1" class="form-checkbox">
          <label for="edit-subscribe-to-general-communications" class="option">Subscribe to Email Communications</label>
          <div class="description">Adhoc news and announcements via email from CRMT.</div>       
        </div>	   
        <div class="col-lg-6">            
          <textarea type="text" name="message" placeholder="Message" rows="4" required></textarea>             
          <input type="tel" name="phone" placeholder="Telephone" required>   
          <input type="checkbox" id="insights" name="insights" value="1" class="form-checkbox">
          <label for="edit-subscribe-to-general-communications" class="option"> Subscribe to Insights from CRMT</label>
          <div class="description">Email content round-ups, hints and tips to help you improve marketing effectiveness.</div>       
          <button class="btn btn-split btn-wide green-btn">Submit</button>
        </div>	 		
      </div>				
    </div>
</section>
