<section id="form-contact-block" class=" block-caret block-dark-mid pb-50 pt-75">		
  <div class="container">	
	<div class="row">	
	  <div class="col text-center pb-4">
		<h2>Get in Touch</h2>
	  </div>
	</div>
	<form id="formContact" name="formContact" action="https://s1010.t.eloqua.com/e/f2" method="post"> 
      <input type="hidden" name="elqFormName" value="19contactus">
      <input type="hidden" name="elqSiteID" value="1010">
      <input type="hidden" name="elqCustomerGUID" value="">
      <input type="hidden" name="elqCookieWrite" value="0">	  
      <div class="row">	
        <div class="col-lg-6">
          <div class="row no-gutters">	
            <div class="col-md-6 pr-md-2">          
             <input type="text" name="firstname" placeholder="First Name" required>
            </div>
            <div class="col-md-6 pl-md-2">               
             <input type="text" name="lastname" placeholder="Last Name" required>  
            </div>
          </div>
          <div class="d-none"><input type="text" name="title" placeholder="Job Title"></div>	
          <input type="text" name="company" placeholder="Company" required>             
          <input type="email" name="email" placeholder="Email" required>        
        </div>	   
        <div class="col-lg-6">            
          <textarea type="text" name="message" placeholder="Message" rows="4" required></textarea>             
          <input type="tel" name="phone" placeholder="Telephone" required>
        </div>			
      </div>			
      <div class="row">	
        <div class="col-lg-6">		
          <input type="checkbox" id="edit-subscribe-to-general-communications" name="subscribe_to_general_communications" value="1" class="form-checkbox">
          <label for="edit-subscribe-to-general-communications" class="option">Subscribe to Email Communications</label>
          <div class="description">Adhoc news and announcements via email from CRMT.</div>  
        </div>		      
        <div class="col-lg-6">		
          <input type="checkbox" id="insights" name="insights" value="1" class="form-checkbox">
          <label for="edit-subscribe-to-general-communications" class="option"> Subscribe to Insights from CRMT</label>
          <div class="description">Email content round-ups, hints and tips to help you improve marketing effectiveness.</div>       
          <button class="btn btn-split btn-wide indigo-btn">Submit</button>
        </div>	 		
      </div>
	</form>  
  </div>
</section>
<script type='text/javascript'>
var elqTimerId = null, timeout = 5;

function WaitUntilCustomerGUIDIsRetrieved() {
	if (!!(elqTimerId)) {
		if (timeout == 0) {
			return;
		}
		if (typeof this.GetElqCustomerGUID === 'function') {
			document.forms["formContact"].elements["elqCustomerGUID"].value = GetElqCustomerGUID();
			return;
		}
		timeout -= 1;
	}
	elqTimerId = setTimeout("WaitUntilCustomerGUIDIsRetrieved()", 500);
	return;
}
window.onload = WaitUntilCustomerGUIDIsRetrieved;
_elqQ.push(['elqGetCustomerGUID']);
</script>
