<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="150% Increase in lead volume. 85% decrease in cost per lead. All from working with CRM technologies, the marketing operations experts." />
	<title>Marketing Operations Agency | CRM Technologies</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Custom styles -->
	<link href="/css/main.css" rel="stylesheet">

	<!-- Favicons -->
	<link rel="shortcut icon" href="https://www.crmtechnologies.com/themes/tp_theme/favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#0e1d45">

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="CRM Technologies">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/og-image.jpg">
</head>
