<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ if .Data.Singular }}{{ .Title }} Excellence Hub{{ else if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
	<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">	
	
	<meta property="og:locale" content="en_GB">
	<meta property="og:title" content="{{ if .Data.Singular }}{{ .Title }} Excellence Hub{{ else if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
	<meta property="og:image" content="{{ if .Params.image }}{{.Params.image}}{{ else }}{{.Site.BaseURL}}/img/og-image.png{{ end }}">
	<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">	
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">	{{ if .Params.carousel }}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />{{ end }}
	<!-- Custom styles -->
	<link href="/css/main.css" rel="stylesheet">
	{{ if .Params.statWidget }}<link href="/css/statWidget.css" rel="stylesheet">{{ end }}	
	<link href="/css/cookies.css" rel="stylesheet">
	
	<!-- Favicons -->
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">	
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#284b82">
</head>
