<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand logo-white" href="/"><img src="/img/crmt-digital-white.png" alt="CRMT Digital"></a>
    <a class="navbar-brand logo-color" href="/"><img src="/img/crmt-digital-colour.png" alt="CRMT Digital"></a>	  
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <!--SERVICES MEGA MENU START-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">  
            <div class="container">
              <div class="row">
                <div class="col-md-4 left-col">
                  <div class="row">
                    <h6 class="col-md-12 d-block font-weight-bold text-uppercase blueText">Global Enablement</h6>
                    <p class=" descText text-white">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p>
                    <ul class="nav flex-column">
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-mail-bulk"></i> Marketing Operations</a>
                      </li>
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-envelope-open-text"></i> Marketing Automation</a>
                      </li>
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-cogs"></i> Technology and Integration</a>
                      </li>
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-cart-plus"></i> Demand Center Enablement</a>
                      </li>
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-chart-pie"></i> Assessments and Audits</a>
                      </li>
                    </ul>
                </div>  
                <!-- /.col-md-4  -->     
                <div class="col-md-4 center-col">
                  <div class="row">
                    <h6 class="col-md-12 d-block font-weight-bold text-uppercase blueText">Smart Engagement</h6>
                        <p class="descText text-white">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p>
                      <ul class="nav flex-column">
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-seedling"></i> Digital Nurture</a>
                      </li>
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-filter"></i> Buyer Journey Mapping</a>
                      </li>
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-credit-card"></i> Sales Enablement</a>
                      </li>
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-users-cog"></i>Smart Resourcing</a>
                      </li>
                      <li class="nav-item pb-7">
                        <a class="megaLinkBlue" href="#"><i class="fas fa-chart-area"></i> Data and Analyticss</a>
                      </li>
                    </ul>
                  </div>
                </div>    
                <!-- /.col-md-4  -->    
                <div class="col-md-8 left-col">
                  <div class="row">
                    <ul class="col-md-12 d-block">
                      <li class="dropdown-divider"></li>
                      <h6 class="font-weight-bold text-uppercase text-success"><a class="nav-link" href="/contact">Contact Us</a></h6>
                    </ul>
                  </div>
                </div>    
                <!-- /.col-md-8  -->  
                <div class="col-md-4">
                  <div class="row">
                    <h6 class="col-md-12 d-block font-weight-bold text-uppercase greenText">Our Clients</h6>
                    <p class="descText">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p> 
                      <div id="clientsCarousel" class="carousel slide flex-column" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <h6 class="text-small greenText caseTitle">Success Story 1</h6>
                            <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block img-fluid" alt="...">
                            <button class="btn btn-success" type="button">Read More</button> 
                          </div>
                          <div class="carousel-item">
                            <h6 class="text-small greenText caseTitle">Success Story 2</h6>
                            <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block img-fluid" alt="...">
                            <button class="btn btn-success" type="button">Read More</button> 
                          </div>
                          <div class="carousel-item">
                            <h6 class="text-small greenText caseTitle">Success Story 3</h6>
                            <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block img-fluid" alt="...">
                            <button class="btn btn-success" type="button">Read More</button> 
                          </div>
                          <div class="carousel-item">
                            <h6 class="text-small greenText caseTitle">Success Story 4</h6>
                            <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block img-fluid" alt="...">
                            <button class="btn btn-success" type="button">Read More</button> 
                          </div>
                        </div>
                      </div>
                      <ul class="nav flex-column">
                        <li class="nav-link"></li>
                        <li><a class="nav-link " href="#">All Success Stories <i class="fas fa-angle-double-right"></i></a></li>  
                    </ul>
                  </div>
                </div>
                <!-- /.col-md-4  -->
                </div>
              </div>
            </div>
            <!--  /.container  -->
          </div>
        </li>
        <!--SERVICES MEGA MENU END-->

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">What we do</a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="/what-we-do">Overview</a>
            <a class="dropdown-item" href="/what-we-do/marketing-operations">Marketing Operations</a>
            <a class="dropdown-item" href="/what-we-do/campaign-services">Campaign Services</a>
            <a class="dropdown-item" href="/what-we-do/consultancy">Consulting &amp; Best Practice</a>
            <a class="dropdown-item" href="/what-we-do/data-analytics">Data Management</a>
            <a class="dropdown-item" href="/what-we-do/technology-services">Technology Services</a>
            <a class="dropdown-item" href="/what-we-do/marketing-analytics-performance">Analytics &amp; Performance</a>
            <a class="dropdown-item" href="/what-we-do/assessments-audits">Assessments &amp; Audits</a>			  
          </div>			
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/how-we-work">How we work</a>
        </li>		  
        <li class="nav-item">
          <a class="nav-link" href="/who-we-work-with">Who we work with</a>
        </li>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Who we are</a>
         <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="/who-we-are">Overview</a>
            <a class="dropdown-item" href="/who-we-are/our-team">Our Team</a>
            <a class="dropdown-item" href="/who-we-are/our-culture">Our Culture</a>
            <a class="dropdown-item" href="/who-we-are/work-for-us">Work for us</a>
          </div>			  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/excellence-hub">Excellence Hub</a>
        </li>		  
        <li class="nav-item">
          <a class="nav-link" href="/insights">Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>		  
      </ul>
    </div>
  </div>	 
</nav>