<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand logo-white" href="/"><img src="/img/crmt-digital-white.png" alt="CRMT Digital"></a>
    <a class="navbar-brand logo-color" href="/"><img src="/img/crmt-digital-colour.png" alt="CRMT Digital"></a>	  
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <!--SERVICES MEGA MENU START-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">  
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6">
                      <h6 class="col-md-12 d-block font-weight-bold text-uppercase blueText">Global Enablement</h6>
                      <p class=" descText text-white">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p>
                      <hr>
                      <ul class="nav flex-column">
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-mail-bulk"></i> Marketing Operations</a>
                        </li>
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-envelope-open-text"></i> Marketing Automation</a>
                        </li>
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-cogs"></i> Technology and Integration</a>
                        </li>
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-cart-plus"></i> Demand Center Enablement</a>
                        </li>
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-chart-pie"></i> Assessments and Audits</a>
                        </li>
                      </ul>
                    </div>  
                    <!-- /.col-md-4  -->     
                    <div class="col-md-6 ">
                      <h6 class="col-md-12 d-block font-weight-bold text-uppercase blueText">Smart Engagement</h6>
                      <p class="descText text-white">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p>
                      <hr>
                      <ul class="nav flex-column">
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-seedling"></i> Digital Nurture</a>
                        </li>
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-filter"></i> Buyer Journey Mapping</a>
                        </li>
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-credit-card"></i> Sales Enablement</a>
                        </li>
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-users-cog"></i>Smart Resourcing</a>
                        </li>
                        <li class="nav-item navLinkStyle">
                          <a class="megaLinkBlue" href="#"><i class="fas fa-chart-area"></i> Data and Analyticss</a>
                        </li>
                      </ul>
                    </div>    
                    <!-- /.col-md-4  -->    
                  </div>
                  <hr>
                  <div>
                    <p class="text-white">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae corrupti reprehenderit provident ipsam quibusdam, iste ad amet exercitationem sunt. Impedit libero aperiam ratione reiciendis dolorem itaque aut quas eos labore.
                    </p>
                      <button class="btn green-btn" type="button">Contact Us</button>
                  </div>
                </div>
                <div class="col-md-4 borderLeft">
                  <h6 class="col-md-12 d-block font-weight-bold text-uppercase greenText">Our Clients</h6>
                  <p class="descText text-white">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p> 
                  <hr>
                    <div id="clientsCarousel" class="carousel slide flex-column" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <h6 class="text-small greenText caseTitle">Success Story 1</h6>
                          <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block img-fluid caseImg" alt="...">
                          <button class="btn green-btn" type="button">Read More</button> 
                        </div>
                        <div class="carousel-item">
                          <h6 class="text-small greenText caseTitle">Success Story 2</h6>
                          <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block img-fluid caseImg" alt="...">
                          <button class="btn green-btn" type="button">Read More</button> 
                        </div>
                        <div class="carousel-item">
                          <h6 class="text-small greenText caseTitle">Success Story 3</h6>
                          <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block img-fluid caseImg" alt="...">
                          <button class="btn green-btn" type="button">Read More</button> 
                        </div>
                        <div class="carousel-item">
                          <h6 class="text-small greenText caseTitle">Success Story 4</h6>
                          <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block img-fluid caseImg" alt="...">
                          <button class="btn green-btn" type="button">Read More</button> 
                        </div>
                      </div>
                    </div>
                    <ul class="nav flex-column">
                      <li class="nav-link"></li>
                      <li><a class="nav-link megaLinkBlue" href="#">All Success Stories <i class="fas fa-angle-double-right"></i></a></li>  
                    </ul>
                </div>
                <!-- /.col-md-4  -->
              </div>
            </div>
            <!--  /.container  -->
          </div>
        </li>
        <!--SERVICES MEGA MENU END-->

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">What we do</a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="/what-we-do">Overview</a>
            <a class="dropdown-item" href="/what-we-do/marketing-operations">Marketing Operations</a>
            <a class="dropdown-item" href="/what-we-do/campaign-services">Campaign Services</a>
            <a class="dropdown-item" href="/what-we-do/consultancy">Consulting &amp; Best Practice</a>
            <a class="dropdown-item" href="/what-we-do/data-analytics">Data Management</a>
            <a class="dropdown-item" href="/what-we-do/technology-services">Technology Services</a>
            <a class="dropdown-item" href="/what-we-do/marketing-analytics-performance">Analytics &amp; Performance</a>
            <a class="dropdown-item" href="/what-we-do/assessments-audits">Assessments &amp; Audits</a>			  
          </div>			
        </li> -->

        <!--PRODUCTS MEGA MENU START-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">  
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="container">
                    <img class="img-fluid " src="/img/demand-center-logo.png" alt="Demand-Center-logo" >
                    <h6 class="col-md-12 d-block font-weight-bold text-uppercase">Centralize Demand</h6>
                    <p class=" descText text-white">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p>
                  </div>   
                  <hr>   
                  <div class="container">
                    <img class="img-fluid " src="/img/Normalator-Logo.png" alt="Normalator-Logo">
                    <h6 class="col-md-12 d-block font-weight-bold text-uppercase ">Normalize Data</h6>
                    <p class="descText text-white">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p>
                  </div> 
                </div> <!-- /.col-md-4  -->   

                <div class="col-md-4 ">
                  <div class="container">
                    <h6 class="col-md-12 d-block font-weight-bold text-uppercase ">Features</h6>
                    <ul class="nav flex-column">
                      <li class="nav-item navLinkStyle">
                        <a class="megaLinkBlue" href="#"> Campaign Orchestration</a>
                      </li>
                      <li class="nav-item navLinkStyle">
                        <a class="megaLinkBlue" href="#"> Unified Campaign Taxonomy</a>
                      </li>
                      <li class="nav-item navLinkStyle">
                        <a class="megaLinkBlue" href="#"> Campaign Asset Library</a>
                      </li>
                      <li class="nav-item navLinkStyle">
                        
                      </li>
                      <li class="nav-item navLinkStyle">
                        <a class="text-white" href="#">All Features <i class="fas fa-angle-double-right"></i></a>
                      </li>
                    </ul>
                  </div> 
                  <hr>
                  <div class="container ">
                    <h6 class="col-md-12 d-block font-weight-bold text-uppercase ">Features</h6>
                    <ul class="nav flex-column">
                      <li class="nav-item navLinkStyle">
                        <a class="megaLinkBlue" href="#">Rule-Based Normalisation</a>
                      </li>
                      <li class="nav-item navLinkStyle">
                        <a class="megaLinkBlue" href="#">Persona Generator</a>
                      </li>
                      <li class="nav-item navLinkStyle">
                        <a class="megaLinkBlue" href="#">Machine Learning</a>
                      </li>
                      <li class="nav-item navLinkStyle">
                        
                      </li>
                      <li class="nav-item navLinkStyle">
                        <a class="text-white" href="#">All Features <i class="fas fa-angle-double-right"></i></a>
                      </li>
                    </ul>
                  </div>
                </div> 

                <div class="col-md-4">
                  <div class="container">
                    <h6 class="col-md-12 d-block font-weight-bold text-uppercase ">Editions</h6>
                    <ul class="nav flex-column">
                      <li class="nav-item navLinkStyle">
                        <a class="text-white" href="#"><i class="fas fa-certificate"></i> Basic</a>
                      </li>
                      <li class="nav-item navLinkStyle">
                        <a class="text-white" href="#"><i class="fas fa-award"></i> Standard</a>
                      </li>
                      <li class="nav-item navLinkStyle">
                        <a class="text-white" href="#"><i class="fas fa-medal"></i> Premium</a>
                      </li>
                    </ul>
                  </div> 
                  <hr>
                  <div class="container borderLeft">
                    <div class="text-white">
                        Schedule a Demo!
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button class="btn blue-btn" type="button">Demand Center</button>
                      </div>
                      <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button class="btn green-btn" type="button">Normalator</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  /.container  -->
          </div>
        </li>
        <!--PRODUCTS MEGA MENU END-->


        <li class="nav-item">
          <a class="nav-link" href="/who-we-work-with">Clients</a>
        </li>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exellence Hub</a>
         <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="">Insights</a>
            <a class="dropdown-item" href="">Case Studies</a>
            <a class="dropdown-item" href="">Webinars</a>
          </div>			  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Abour Us</a>
        </li>		  
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>		  
      </ul>
    </div>
  </div>	 
</nav>