<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand logo-white" href="/"><img src="/img/crmt-digital-white.png" alt="CRMT Digital"></a>
    <a class="navbar-brand logo-color" href="/"><img src="/img/crmt-digital-colour.png" alt="CRMT Digital"></a>	  
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <!--SERVICES MEGA MENU START-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">  
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4">
                      <h5 class="font-weight-bold text-uppercase blueText">Global Enablement</h5>
                      <p class=" blueText descText">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p>
                      <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="blueText megaLink" href="#">Marketing Operations</a>
                      </li>
                      <li class="nav-item">
                        <a class="blueText megaLink" href="#">Marketing Automation</a>
                      </li>
                      <li class="nav-item">
                        <a class="blueText megaLink" href="#">Technology and Integration</a>
                      </li>
                      <li class="nav-item">
                        <a class="blueText megaLink" href="#">Demand Center Enablement</a>
                      </li>
                      <li class="nav-item">
                        <a class="blueText megaLink" href="#">Assessments and Audits</a>
                      </li>
                    </ul>
                    </div>
                    <!-- /.col-md-4  -->
                    <div class="col-md-4">
                      <h5 class="font-weight-bold text-uppercase greenText">Smart Engagement</h5>
                        <p class="greenText descText">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p>
                      <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="greenText megaLink" href="#">Digital Nurture</a>
                      </li>
                      <li class="nav-item">
                        <a class="greenText megaLink" href="#">Buyer Journey Mapping</a>
                      </li>
                      <li class="nav-item">
                        <a class="ngreenText megaLink" href="#">Sales Enablement</a>
                      </li>
                      <li class="nav-item">
                        <a class="greenText megaLink" href="#">Smart Resourcing</a>
                      </li>
                      <li class="nav-item">
                        <a class="greenText megaLink" href="#">Data and Analyticss</a>
                      </li>
                    </ul>
                    </div>
                    <!-- /.col-md-4  -->
                    <div class="col-md-4">
                      <h5 class="font-weight-bold text-uppercase text-white">Our Clients</h5>
                        <p class="descText text-white">Lorem ipsum dolorsit amet, consecteturadipiscingelit, incididuntutlaboreet dolore magna aliqua.</p> 
                          <div id="clientsCarousel" class="carousel slide flex-column" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <h6 class="text-small text-white">Success Story 1</h6>
                                <a href=""><img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block w-100 img-fluid" alt="..."></a>
                                <button class="btn btn-primary" type="button">Read More</button> 
                              </div>
                              <div class="carousel-item">
                                <h6 class="text-small text-white">Success Story 2</h6>
                                <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block w-100 img-fluid" alt="...">
                                <button class="btn btn-primary" type="button">Read More</button> 
                              </div>
                              <div class="carousel-item">
                                <h6 class="text-small text-white">Success Story 3</h6>
                                <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block w-100 img-fluid" alt="...">
                                <button class="btn btn-primary" type="button">Read More</button> 
                              </div>
                              <div class="carousel-item">
                                <h6 class="text-small text-white">Success Story 4</h6>
                                <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/11/write-better-case-studies.jpeg" class="d-block w-100 img-fluid" alt="...">
                                <button class="btn btn-primary" type="button">Read More</button> 
                              </div>
                            </div>
                          </div>
                          <ul class="nav flex-column">
                            <li class="dropdown-divider"></li>
                            <li><a class="nav-link " href="#">All Success Stories<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>  
                        </ul>
                    </div>
                    <!-- /.col-md-4  -->
                </div>
              </div>
            
              <div class="row">
                <div class="col-md-8 mb-4">
                  <div class="dropdown-divider"></div>
                  <h6 class="font-weight-bold text-uppercase text-success"><a class="nav-link" href="/contact">Contact Us</a></h6>
                </div>
              </div>
            </div>    <!--  /.container  -->
          </div>
        </li>
        <!--SERVICES MEGA MENU END-->


        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">What we do</a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="/what-we-do">Overview</a>
            <a class="dropdown-item" href="/what-we-do/marketing-operations">Marketing Operations</a>
            <a class="dropdown-item" href="/what-we-do/campaign-services">Campaign Services</a>
            <a class="dropdown-item" href="/what-we-do/consultancy">Consulting &amp; Best Practice</a>
            <a class="dropdown-item" href="/what-we-do/data-analytics">Data Management</a>
            <a class="dropdown-item" href="/what-we-do/technology-services">Technology Services</a>
            <a class="dropdown-item" href="/what-we-do/marketing-analytics-performance">Analytics &amp; Performance</a>
            <a class="dropdown-item" href="/what-we-do/assessments-audits">Assessments &amp; Audits</a>			  
          </div>			
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/how-we-work">How we work</a>
        </li>		  
        <li class="nav-item">
          <a class="nav-link" href="/who-we-work-with">Who we work with</a>
        </li>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Who we are</a>
         <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="/who-we-are">Overview</a>
            <a class="dropdown-item" href="/who-we-are/our-team">Our Team</a>
            <a class="dropdown-item" href="/who-we-are/our-culture">Our Culture</a>
            <a class="dropdown-item" href="/who-we-are/work-for-us">Work for us</a>
          </div>			  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/excellence-hub">Excellence Hub</a>
        </li>		  
        <li class="nav-item">
          <a class="nav-link" href="/insights">Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>		  
      </ul>
    </div>
  </div>	 
</nav>