 
	<footer class="navigation post-navigation" role="navigation">
		<div class="nav-links">
    {{ if .PrevInSection }}
			<div class="nav-previous">
				<a href="{{ .PrevInSection.URL }}" rel="prev">
					<div class="the-navigation-arrow"><i class="fa prev-next fa-lg fa-angle-left"></i></div> 
					<div class="meta-nav"><span class="small-part">Previous Post</span>
						<div class="next-prev-name">{{ .PrevInSection.Title }}</div>
					</div>
				</a>
			</div>
    {{ end }}
        {{ if .NextInSection }}
			<div class="nav-next">
				<a href="{{ .NextInSection.URL }}" rel="next">
					<div class="meta-nav"><span class="small-part">Next Post</span>
						<div class="next-prev-name">{{ .NextInSection.Title }}</div>
					</div>
					<div class="the-navigation-arrow"><i class="fa prev-next fa-lg fa-angle-right"></i></div>
				</a>
			</div>
        {{ end }}
		</div>
	</footer>
