{{ define "main" }}

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
	{{range $i, $e := $.Site.Data.banners.homepage}}	      
	     <li data-target="#carouselExampleIndicators" data-slide-to="{{ $i }}" {{ if eq $i 0 }}class="active"{{ end }} ></li> 
	{{ end }}	      
      </ol>
      <div class="carousel-inner" role="listbox">
	{{ range $i, $e :=  $.Site.Data.banners.homepage }}
	<div class="carousel-item {{ if eq $i 0 }}active{{ end }}" style="background-image: linear-gradient(rgba(55,26,190,0.4225),rgba(55,26,190,0.4225)),url('{{ .image }}')">
	  <div class="carousel-caption">
	    <h3>{{ .line1 }}<br>
		{{ .line2 }}</h3>
	    <a class="btn btn-split" href="{{ .link }}">{{ .text }}</a>
	  </div>
	</div>
	{{ end }}	      
      </div>
    </div>
  </header>
	<main>
		<section class="block-light clearfix" id="block-homepage-logos">
			<ul class="logo-grey">
				{{ range $.Site.Data.logos.customers }}
				   {{ partial "customerLogo.html" . }}
				{{ end }}
			</ul>
		</section>  
		
      		{{ .Content }}
		
		{{ $myQuote := .Params.testimonial }}		
		{{ range where $.Site.Data.testimonials.quotes "name" $myQuote  }}
		   {{ partial "blockQuote.html" . }}
		{{ end }}		
		
		{{ partial "blockContact.html" . }}
		
		{{ $myAsset := string .Params.resource }}
		{{ $myAssetPath := (printf "/excellence-hub/%s" $myAsset ".md" ) }}
		{{ printf "%s" $myAssetPath }}
		{{ with .Site.GetPage $myAssetPath }} 
			{{if ne .Params.cta_image "" }}
			<section id="asset-block" class=" block-caret block-blue pt-100">		
			  <div class="container">	
				<div class="row align-items-lg-end ">
					<div class="col-lg-6 text-center order-lg-last">				
						<img src="{{ .Params.cta_image }}" alt="{{ .Title }}">
					</div>		
					<div class="col-lg-6 mx-4 mt-4 mx-lg-0 mt-lg-0">
						<h4 class="h4 text-white">{{ .Title }}</h4>
						<p class="text-dark">{{ .Description }}</p>
						<a class="btn btn-split green-btn mb-4" href="{{ .Params.asset_link }}">Download now!</a>
					</div>	
				</div>	
			  </div>
			</section>
			{{ end }}  
		{{ end }}  		
	</main>

	{{ partial "floatingContactButton.html" . }}
  
{{end}}
