{{ define "main" }}
	<section class="block-light clearfix" id="block-homepage-logos">
		<ul class="logo-grey">
			{{ range $.Site.Data.logos.customers }}
			   {{ partial "customerLogo.html" . }}
			{{ end }}
		</ul>
	</section>  		
	{{ .Content }}		
	{{ partial "blockQuote.html" . }}
	{{ if eq .Params.show_contact "banner" }}{{ partial "blockContact.html" . }}{{ end }}
	{{ if eq .Params.show_contact "form" }}{{ partial "formContact.html" . }}{{ end }}	
	{{ partial "blockAsset.html" . }}
{{end}}
