{{ define "main" }}

{{ partial "jumbotron.html" . }} 

<main>
	<section class=" pt-5 pb-50 mb-5">
		<div class="container">
			<div class="row">
                        {{ range (.Paginator 12).Site.Data.resources.assets }}
                               {{ partial "blockAsset.html" . }}
                        {{ end }}
			</div>                        
			<div class="row justify-content-center">                        
                        {{ template "_internal/pagination.html" . }}
			</div>
		</div>		
	</section>		
 </main>

{{ if eq .Params.show_contact true }}  
	{{ partial "floatingContactButton.html" . }}
{{ end }} 
{{ end }} 
