{{ define "main" }}

{{ partial "banner.html" . }} 		

  <main>		  
	<section id="asset-block" class="pt-5 pb-50">		
	  <div class="container">		  
		<div class="row">
			<div class="col-lg-6">	
				<p class="intro-text text-left text-dark">{{ .Description }}</p>
				{{ .Content }}
				
			</div>		
			<div class="offset-lg-1 col-lg-5 text-center bg-blue mt-4 pt-4 pb-5 mt-lg-1">
		<p class="h5 pb-3 pt-1">Download our free {{.Params.content_type}}!</p>
		<a href="{{ .Params.asset_link }}"><img src="{{ .Params.cta_image }}" alt="{{ .Title }}"></a>
		<a class="btn btn-split green-btn" href="{{ .Params.asset_link }}" style="width: 75%;">Download now</a>
			</div>
			<div class="col-lg-6 text-center">				
	<p class="pt-2 pb-1 mb-0">Don't forget to share!</p>
	  <div class="social">
		<a class="icon-li" href='https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{.Title }}' target="_blank">li</a>								
		<a class="icon-tw" href='http://twitter.com/share?text={{.Title }}&url={{ .Permalink }}' target="_blank">tw</a>	
		<a class="icon-fb" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank">fb</a>						
	  </div>			
			</div>				
		</div>	
	  </div>
	</section>	  
	  

  
  {{ $related := (where (.Site.RegularPages.Related .) "Section" "excellence-hub") | first 3 }}
	{{ with $related }}
	    <section class="pb-50 pt-75 block-light">
		    <div class="container">
         <div class="row justify-content-center text-center pb-5">  
	        <h3>Related Assets</h2>
         </div>          
         <div class="row justify-content-center text-center">
						{{ range . }}
              <div class="col-sm-6 col-lg-4 mb-5">	
                <div class="card card-resource">
                   <div class="card-header bg-light text-center pt-4 pb-0">		
                     <div class="tag {{ .Params.content_type | urlize }}">{{ .Params.content_type }}</div>
                     <a href="{{ .Params.asset_link }}"><img class="pt-3" src="{{ .Params.thumbnail }}" alt="{{ .Title }}"></a>
                  </div>   
                  <div class="card-body bg-mid pt-3 pb-5 px-4">
                    <h6 class="card-text">{{ .Params.card_title }} <span>{{ .Params.card_subtitle }}</span></h6>
                    <a href="{{ .Params.asset_link }}" class="btn btn-split mx-auto green-btn py-2 px-4">{{ .Params.cta }}</a>
                  </div>     
                </div>
              </div>
						{{ end }}
		</div>
		</div>
	</section>          
{{ end }}
  
	{{ partial "blockContact.html" . }}	
  
  </main>

{{ if eq .Params.show_contact true }}  
	{{ partial "floatingContactButton.html" . }}
{{ end }} 
{{ end }}
