{{ define "main" }}

{{ partial "jumbotron.html" . }} 		

  <main>
	<section id="asset-block" class="pt-75">		
	  <div class="container">
		<div class="row text-align-center">		  
			<h1 class="text-dark pb-3">{{ .Title }}</h1>		  
			<p class="text-dark pb-3 mb-5">{{ .Description }}</p>		  
		</div>		  
		<div class="row align-items-lg-end ">
			<div class="col-lg-6 text-center order-lg-last">				
				<a href="{{ .Params.asset_link }}"><img src="{{ .Params.cta_image }}" alt="{{ .Title }}"></a>
			</div>		
			<div class="col-lg-6 mx-4 mt-4 mx-lg-0 mt-lg-0">
				<h4 class="h4 text-dark pb-3">Hi, here’s your free {{.Params.content_type}}!</h4>
				<a class="btn btn-split indigo-btn mb-4" href="{{ .Params.asset_link }}">Download {{.Params.content_type}}</a>
	<p>Don't forget to share!</p>
	  <div class="social">
		<a class="icon-li" href='https://www.linkedin.com/company/crm-technologies' target="_blank">li</a>								
		<a class="icon-tw" href='https://twitter.com/crmtechnologies' target="_blank">tw</a>	
		<a class="icon-fb" href="https://www.facebook.com/crmtechnologies" target="_blank">fb</a>
		<a class="icon-yt" href="https://www.youtube.com/user/CRMTechChannel" target="_blank">yt</a>							
	  </div>
													</div>	
		</div>	
	  </div>
	</section>	  
	  

  
  {{ $related := .Site.RegularPages.Related . | first 3 }}
	{{ with $related }}
	    <section class="pb-50 pt-75 block-light">  
         <div class="row text-center pb-5">  
	        <h3>Related Assets</h2>
         </div>          
         <div class="row text-center">
						{{ range . }}
              <div class="col-sm-6 col-lg-4 mb-5">	
                <div class="card card-resource">
                   <div class="card-header bg-light text-center pt-4 pb-0">		
                     <div class="tag {{ .Params.content_type | urlize }}">{{ .Params.content_type }}</div>
                     <a href="{{ .Params.asset_link }}"><img class="pt-3" src="{{ .Params.thumbnail }}" alt="{{ .Title }}"></a>
                  </div>   
                  <div class="card-body bg-mid pt-3 pb-5 px-4">
                    <h6 class="card-text">{{ .Params.card_title }} <span>{{ .Params.card_subtitle }}</span></h6>
                    <a href="{{ .Params.asset_link }}" class="btn btn-split mx-auto green-btn py-2 px-4">{{ .Params.cta }}</a>
                  </div>     
                </div>
              </div>
						{{ end }}
         </div>
	</section>          
{{ end }}
  
	{{ if eq .Params.show_contact true }}  
	{{ partial "blockContact.html" . }}
	{{ end }}	
  
  </main>

{{ if eq .Params.show_contact true }}  
	{{ partial "floatingContactButton.html" . }}
{{ end }} 
{{ end }}
